@import "../../../style/helpers/vars";
@import "../../../style/helpers/mixins";

.NavTabsView {

  &__items {
    margin: 0 0 32px 0;
    padding: 0;
    list-style: none;

    @include horizontal-phone {
      margin-bottom: 40px;
    }

    @include tablet {
      margin-left: 120px;
    }
  }

  &__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: inline-block;
    font-size: 14px;
    padding: 8px 16px;
    color: $text-black;
    background-color: $color-base;
    line-height: 1;
    cursor: pointer;
    border-radius: 2px;
    z-index: 10;
    user-select: none;
    transition: $anim-duration-long;

    &:hover {
      background-color: $text-grey-lightest;
      color: $text-black;
      cursor: pointer;
    }

    &:visited {
      color: $text-black;
    }

    &_active {
      background-color: $brand-yellow;

      &:hover {
        background-color: $brand-yellow;
        cursor: default;
      }
    }
  }
}