@import './vars';
@import '../helpers/mixins';

$col-length: 8;
$col-width: percentage(100/$col-length)/100;

.row {
  @include clearfix;
  display: flex;
  flex-wrap: wrap;
  margin-left: -($grid-offset-small-phone / 2);
  margin-right: -($grid-offset-small-phone / 2);

  @include phone {
    margin-left: -($grid-offset-phone / 2);
    margin-right: -($grid-offset-phone / 2);
  }

  @include horizontal-phone {
    margin-left: -($grid-offset-horizontal-phone / 2);
    margin-right: -($grid-offset-horizontal-phone / 2);
  }

  @include tablet {
    margin-left: -($grid-offset-tablet / 2);
    margin-right: -($grid-offset-tablet / 2);
  }

  @include notebook {
    margin-left: -($grid-offset-notebook / 2);
    margin-right: -($grid-offset-notebook / 2);
  }

  @include desktop {
    margin-left: -($grid-offset-desktop / 2);
    margin-right: -($grid-offset-desktop / 2);
  }
}

.col {
  float: left;
  width: 100%;
  padding-left: $grid-offset-small-phone / 2;
  padding-right: $grid-offset-small-phone / 2;
  box-sizing: border-box;

  @include phone {
    padding-left: $grid-offset-phone / 2;
    padding-right: $grid-offset-phone / 2;
  }

  @include horizontal-phone {
    padding-left: $grid-offset-horizontal-phone / 2;
    padding-right: $grid-offset-horizontal-phone / 2;
  }

  @include tablet {
    padding-left: $grid-offset-tablet / 2;
    padding-right: $grid-offset-tablet / 2;
  }

  @include notebook {
    padding-left: $grid-offset-notebook / 2;
    padding-right: $grid-offset-notebook / 2;
  }

  @include desktop {
    padding-left: $grid-offset-desktop / 2;
    padding-right: $grid-offset-desktop / 2;
  }

  &_reverse {
    float: right;
    order: 2;
  }
}

// cols count
@for $i from 1 through 8 {
  .col_count-#{$i} {
    width: $col-width * $i;
  }

  .col_coffset-#{$i} {
    margin-left: $col-width * $i;
  }

  .col_push-#{$i} {
    position: relative;
    left: $col-width * $i;
  }

  .col_pull-#{$i} {
    position: relative;
    right: $col-width * $i;
  }
}

// cols count - phone
@for $i from 1 through 8 {
  @include phone {
    .col_phone-count-#{$i} {
      width: $col-width * $i;
    }

    .col_phone-coffset-#{$i} {
      margin-left: $col-width * $i;
    }

    .col_phone-push-#{$i} {
      position: relative;
      left: $col-width * $i;
    }

    .col_phone-pull-#{$i} {
      position: relative;
      right: $col-width * $i;
    }
  }
}

// cols count - horizontal phone
@for $i from 1 through 8 {
  @include horizontal-phone {
    .col_horiz-phone-count-#{$i} {
      width: $col-width * $i;
    }

    .col_horiz-phone-coffset-#{$i} {
      margin-left: $col-width * $i;
    }

    .col_horiz-phone-push-#{$i} {
      position: relative;
      left: $col-width * $i;
    }

    .col_horiz-phone-pull-#{$i} {
      position: relative;
      right: $col-width * $i;
    }
  }
}

// cols count - tablet
@for $i from 1 through 8 {
  @include tablet {
    .col_tablet-count-#{$i} {
      width: $col-width * $i;
    }

    .col_tablet-coffset-#{$i} {
      margin-left: $col-width * $i;
    }

    .col_tablet-push-#{$i} {
      position: relative;
      left: $col-width * $i;
    }

    .col_tablet-pull-#{$i} {
      position: relative;
      right: $col-width * $i;
    }
  }
}

// cols count - notebook
@for $i from 1 through 8 {
  @include notebook {
    .col_notebook-count-#{$i} {
      width: $col-width * $i;
    }

    .col_notebook-coffset-#{$i} {
      margin-left: $col-width * $i;
    }

    .col_notebook-push-#{$i} {
      position: relative;
      left: $col-width * $i;
    }

    .col_notebook-pull-#{$i} {
      position: relative;
      right: $col-width * $i;
    }
  }
}

// cols count - desktop
@for $i from 1 through 8 {
  $half-col: (100/8)/2;
  @include desktop {
    .col_desk-count-#{$i} {
      width: $col-width * $i;
    }

    .col_desk-count-#{$i}-half {
      width: ($col-width * $i) + $half-col;
    }

    .col_desk-coffset-#{$i} {
      margin-left: $col-width * $i;
    }

    .col_desk-push-#{$i} {
      position: relative;
      left: $col-width * $i;
    }

    .col_desk-pull-#{$i} {
      position: relative;
      right: $col-width * $i;
    }
  }
}