@import './vars';

// Clearfix
@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

// Media Query Sizes
@mixin small-phone {
  @media screen and (max-width: #{$mqw-phone - 1px}) {
    @content;
  }
}

@mixin phone {
  @media screen and (min-width: #{$mqw-phone}) {
    @content;
  }
}

@mixin horizontal-phone {
  @media screen and (min-width: #{$mqw-horizontal-phone}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: #{$mqw-tablet}) {
    @content;
  }
}

@mixin notebook {
  @media screen and (min-width: #{$mqw-notebook}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$mqw-desktop}) {
    @content;
  }
}