@import './vars';
@import '../helpers/mixins';

.visible {
  &_desk {
    display: none;
    @include desktop {
      display: block;
    }
  }

  &_tablet-only {
    display: none;
    @include only-tablet {
      display: block;
    }
  }

  &_tablet-up {
    display: none;
    @include tablet {
      display: block;
    }
  }

  &_tablet-down {
    display: none;
    @include tablet-down {
      display: block;
    }
  }

  &_mobile {
    display: none;
    @include phone {
      display: block;
    }
  }
}