@import '../../style/helpers/mixins';
@import '../../style/helpers/vars';

.Header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 56px;
  padding: 8px 16px;
  background-color: $color-base;

  @include horizontal-phone {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @include notebook {
    padding-left: 64px;
    padding-right: 64px;
  }

  &__logo {
    margin-right: auto;

    .Logo__icon {
      height: 24px;
      width: auto;

      @include horizontal-phone {
        height: 28px;
        margin-right: 8px;
      }
    }
  }

  &__nav {
    margin-right: 64px;

    &_hidden {
      opacity: 0;
    }

    @include tablet-down {
      display: none;
    }
  }

  &__socials {
    display: none;
    margin-right: 16px;

    &_hidden {
      opacity: 0;
    }

    @include phone {
      display: flex;
    }

    @include notebook {
      margin-right: 80px;
    }
  }
}