@import "../../style/helpers/vars";
@import "../../style/helpers/mixins";

.PostCard {
  padding: 24px 16px;
  background-color: $color-base;

  @include horizontal-phone {
    padding: 32px 50px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 4px;
  }

  &__title {
    margin-top: 0;
    margin-left: -0.07em;
    margin-bottom: 16px;
    font-weight: 900;
    line-height: 1.1;
    font-size: 28px;

    @include horizontal-phone {
      font-size: 45px;
    }
  }

  &__title-link {
    color: $text-black;

    &:visited {
      color: $text-black;
    }

    &:hover {
      color: $brand-blue;
    }

  }

  &__categories {
    margin-top: 0;
    margin-bottom: 8px;
    padding: 0;
    list-style: none;
  }

  &__categories-item {
    display: inline;
    vertical-align: top;
  }

  &__categories-link {
    color: $color-gg-4;

    &:hover {
      color: $brand-blue;
    }

    &:visited {
      color: $color-gg-4;
    }
  }

  &__subtitle {
    margin-top: 0;
    margin-bottom: 1em;
    line-height: 1.5;
    font-size: 20px;
    font-weight: 600;
  }

  &__annotation {
    line-height: 1.5;
    font-size: 16px;
    margin-top: 0;

    @include horizontal-phone {
      font-size: 18px;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include horizontal-phone {
      flex-direction: row;
    }
  }

  &__footer-left {
    margin-bottom: 8px;
  }

  &__read-link {
    font-weight: 800;
    padding: 5px 0;

    @include horizontal-phone {
      font-size: 18px;
    }
  }

  &__copy-link {
    display: inline-block;
    font-family: $ff-raleway;
    color: $color-gg-4;
    border: none;
    background-color: transparent;
    font-size: 14px;
    padding: 0;
    margin-right: 6px;
    transition: color 0.35s;

    &:hover {
      color: $brand-blue;
      cursor: pointer;
    }

    &:visited {
      color: $color-gg-4;
    }
  }

  &__create-date {
    display: inline-block;
    color: $color-gg-4;

    &::before {
      content: '•';
      padding-right: 6px;
    }
  }
}